.header-container {
  width: 100%;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.header-content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1660px;
}

.header-heading {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

.header-link {
  color: #fff;
  text-decoration: underline;
  text-transform: uppercase;
  text-underline-offset: 0.6rem;
  transition: 200ms ease-in-out;
}

.header-link:hover {
  color: #c0c0c0;
}

@media (max-width: 600px) {
  .header-content-container {
    flex-direction: column;
    gap: 1rem;
  }
}
