.rating-flex-container {
  display: flex;
  justify-content: end;
}

.rating-container {
  width: fit-content;
  padding: 0.5rem;
  border-radius: 16px;
  font-weight: bold;
}

.green-rating {
  background-color: rgb(82, 242, 82);
}

.yellow-rating {
  background-color: rgb(255, 255, 79);
}

.red-rating {
  background-color: rgb(213, 67, 67);
}

.close-container {
  display: flex;
  justify-content: flex-end;
}

.close-button {
  background-color: #2d2d2d;
  border-radius: 0 8px 0 8px;
  position: absolute;
  top: 0;
  padding: 0.2rem;
  right: 0;
}

.close-button:hover {
  background-color: #3d3d3d;
}
